.hero-section {
  position: sticky; /* This makes the element stick */
  top: 0; /* Sticks to the top of the viewport */
  z-index: 1; /* Ensures it's behind the scrolling content */
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* keep video in background */
}

.hero-overlay.left-align {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* align everything to the left */
  justify-content: flex-start; /* top-align */
  padding: 2rem 4rem; /* add padding from top/left */
}

/* Navbar inside left-aligned overlay */
.hero-overlay.left-align .fade-in {
  margin-bottom: 2rem; /* space between navbar and hero text */
}

/* Hero text */
.hero-content {
  flex: 1; /* take remaining space below navbar */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Aligns content to the left */
  color: white;
  text-align: left; /* Aligns text to the left */
  opacity: 0;
  transition: opacity 1s ease-in;
}

.hero-content.visible {
  opacity: 1;
}

.hero-content h1 {
  font-size: 9rem; /* Increased font size */
  margin-bottom: 0.5rem;
  white-space: nowrap; /* Ensures text stays on one line */
}

.hero-content p {
  font-size: 1.24rem; /* Increased font size */
  white-space: nowrap; /* Ensures the text stays on one line */
}

.hero-content span {
  font-size: 4rem; /* Increased font size */
  white-space: nowrap; /* Ensures the text stays on one line */
}

.gradient-text {
  /* Create a linear gradient from purple to pink */
  background-image: linear-gradient(90deg, #2578be, #2596be);

  /* Clip the background to the text */
  -webkit-background-clip: text; /* For Safari/Chrome */
  background-clip: text;

  /* Make the text color transparent to reveal the gradient */
  color: transparent;
}

/* Common fade effect */
.fade-in,
.hero-content {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in.visible,
.hero-content.visible {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
}
