.navbar {
  display: flex;
  align-items: center;
  gap: 1.5rem; /* space between logo and links */
  padding: 0.1rem 0.6rem;

  background: rgba(227, 210, 210, 0.6); /* semi-transparent bg */
  border-radius: 38px;

  margin-top: 20px; /* so it’s not stuck at top */
  margin-left: 20px; /* small offset from left */
  width: fit-content; /* box only wraps content */
  z-index: 10;
}

.logo svg {
  display: block;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}
